<div class="page-header">
    <h3>User platform settings</h3>
    <hr>
</div>
<form >
    <div class="form-group">
        <app-node-config type="Web"></app-node-config>
    </div>
    <div class="form-group">
        <app-node-config type="App"></app-node-config>
    </div>
    <div class="form-group">
        <app-node-config type="Ana"></app-node-config>
    </div>
    <div class="form-group">
        <app-node-config type="Data"></app-node-config>
    </div>
    <button type="submit" class="btn btn-primary">Save Setup</button>
</form>
