<form>
  <div class="form-group">
    <!--   public id: number;
      public reference: string;
      public licence: string;
      public firstName: string;
      public lastName: string;
      public birthdate: any;
      public phoneNumber: string;
      public email: string;
      public hireDate: any;  -->
    <label for="driverlicence">Driver Licence:</label>
    <input type="text" class="form-control" id="licence" aria-describedby="licence" placeholder="Enter driver licence">
    <label for="driverFirstName">First Name:</label>
    <input type="text" class="form-control" id="driverFirstName" aria-describedby="driverFirstName" placeholder="Enter driver first name">
    <label for="driverLastName">Last Name:</label>
    <input type="text" class="form-control" id="driverLastName" aria-describedby="driverLastName" placeholder="Enter driver last name">
    <app-datepicker label="Birth Date :" (timedate)="lastCheck"></app-datepicker>
    <!-- <input type="text" class="form-control" id="driverBirthDate" aria-describedby="driverBirthDate"> -->
    <label for="driverLastName">Phone Number:</label>
    <input type="text" class="form-control" id="driverLastName" aria-describedby="driverLastName" placeholder="Enter driver phone number">

    <label for="driverLastName">Email:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="driverLastName" aria-describedby="driverLastName" placeholder="Enter driver email">
      <span class="input-group-addon" id="driverLastName">@transtu.com</span>
    </div>

    <label for="driverLastName">Hire Date:</label>
    <input type="text" class="form-control" id="driverLastName" aria-describedby="driverLastName">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
