<div class="col-xl-12">
    <form>
        <div class="row">
          <div class="col">
            <input type="text" ng-model="host" class="form-control" placeholder="{{type}} Node (host/ip) ">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="User Name">
          </div>
          <div class="col">
              <input class="form-control" type="password" placeholder="Password">
          </div>
          <div class="col">
              <button type="button" class="btn btn-sm btn-secondary" (click)="verifyHost()" >Check</button>
              <label>Status : </label>
              <span *ngIf="testStatus" class="badge badge-success">Success</span>
              <span *ngIf="!testStatus" class="badge badge-danger">Failure</span>
          </div>
        </div>
    </form>
</div>
