<form>
  <div class="form-group">
    <label for="markerName">Marker Label:</label>
    <input type="text" class="form-control" id="markerName" aria-describedby="markerName" placeholder="Enter marker label">

    <label for="markerLatitude">Marker Latitude:</label>
    <input type="text" class="form-control" id="markerLatitude" aria-describedby="markerLatitude" placeholder="Enter marker latitude">

    <label for="markerLongitude">Marker Longitude:</label>
    <input type="text" class="form-control" id="markerLongitude" aria-describedby="markerLongitude" placeholder="Enter marker longitude">

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Marker isDraggable:
      </label>
    </div>
  </div>
</form>
