<nav class="navbar navbar-toggleable navbar-light fixed-top  bg-inverse">
  <div class="col-md-2">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
    <a class="navbar-brand">
        <img src="../assets/images/logo.png" width="100" height="40" alt="">
    </a>
  </button>
  </div>
  <div class="col-md-10" id="navbarNav">
    <div class="row">
      <ul class="nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Monitoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Playback</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Referential
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/transport/station">Create Station</a>
            <a class="dropdown-item" href="/transport/stations">Search Station</a>
            <a class="dropdown-item" href="/transport/itinerary">Create Itinerary</a>
            <a class="dropdown-item" href="/transport/itineraries">Search Itinerary</a>
            <a class="dropdown-item" href="/transport/vehicle">Create Vehicle</a>
            <a class="dropdown-item" href="/transport/vehicles">Search Vehicle</a>
            <a class="dropdown-item" href="/transport/driver">Create Driver</a>
            <a class="dropdown-item" href="/transport/drivers">Search Driver</a>
            <a class="dropdown-item" href="/transport/trip">Create Trip</a>
            <a class="dropdown-item" href="/transport/trips">Search Trip</a>
            <a class="dropdown-item" href="/transport/sensor">Create Sensor</a>
            <a class="dropdown-item" href="/transport/sensors">Search Sensor</a>
            <a class="dropdown-item" href="/transport/markers">Search Marker</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
