<form>
  <div class="form-group">
    <label for="itineraryLabel">Itinerary Label:</label>
    <input type="text" class="form-control" id="itineraryLabel" aria-describedby="itineraryLabel" placeholder="Enter itinerary label">
    <!-- <label for="itineraryLabel">Itinerary Label:</label>
    <input type="text" class="form-control" id="itineraryLabel" aria-describedby="itineraryLabel" placeholder="Enter itinerary label"> -->
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
